
.main-wrapper{
    width: 800px;
    margin: 130px auto 0;
    border: 2px solid gray;
    padding: 60px 30px;
    border-radius: 10px;
   
}
.outputAmt{
    text-align: right;
}
.link{
    display: flex;
    justify-content: flex-end;
}
.head-bg{
    background-color: #28394B;
}
#error-text{
    color: #f00;
    text-align: right;
}
.flex-div{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.flex-div1{
    display: flex;
    justify-content: flex-end;
}

.input-box{
    padding: 5px;
    outline: none;
    border: none;
    text-align: right;
}

button{
    padding: 8px 50px !important;
    outline: none !important;
}